@font-face {
    font-family: "Gibson";
    src: url("../assets/fonts/Gibson.woff") format("woff");
    font-weight:400;
    font-style:normal
}

body {
	text-align: center;
	color: white;
	padding: 50px;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 100%), url('http://filtermagazine.com/images/sized/images/uploads/converse-rubber-tracks-live-wall-2013-678x452.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

ul {
	list-style: none;
}

a, a:hover {
	text-decoration: none;
}

#loader {
	height: 20%;
	width: 20%;
	font-size: 3em;
	display: inline-block;
}

.hide-this {
	height: 100%;
	width: 100%;
	text-align: center;
	margin-top: 20vh;
}

.show-this {
	opacity: 0;
}

.genre {
	font-family: Gibson;
	width: 200px;
	height: 200px;
	border: 1px solid white;
	color: white;
	border-radius: 7px;
	display: inline-block;
	margin: 5px;
	transition: all ease 300ms;
}

.genre:hover {
	background-color: white;
	color: black;
}

.genre-name {
	font-size: 1.3em;
}

.genre-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.ind-genre {
	text-align: center;
}